body{
margin:0;
display:flex;
flex-direction:column;
padding:0;
}

html {
overflow: hidden;
}

.txtAreaContainer {
width: 100vw;
height: 50vh;
background-color: #113bc5;
}

#txtArea {
position: fixed;
font-size: 50px;
width: 100%;
height: 50vh;
font-size: large;
word-wrap: break-word;
resize: none;
color: #113bc5;
background: #aabbf3;
outline:none;
}

.keyboard {
min-width:100vw;
height: 100vh;
padding: 5px 0;
background:gray;
}

.keyboard__keys {
position:fixed;
text-align: center;
margin-top:20px;
min-width:100%;
}

.keyboard__key {
height: 45px;
width: 6%;
max-width: 90px;
margin: 3px;
border-radius: 4px;
border: none;
background: black;
color: white;
font-size: 1rem;
outline: none;
cursor: pointer;
display: inline-flex;
align-items: center;
justify-content: center;
vertical-align: top;
padding: 0;
-webkit-tap-highlight-color: transparent;
position: relative;
}

.keyboard__key:active {
background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
width: 12%;
}

.keyboard__key--extra-wide {
width: 36%;
max-width: 500px;
}

.keyboard__key--activatable::after {
content: "";
top: 10px;
right: 10px;
position: absolute;
width: 8px;
height: 8px;
background: rgba(0, 0, 0, 0.4);
border-radius: 50%;
}

.keyboard__key--active::after {
background: #12e70a;
}

.keyboard__key--dark {
background: rgba(0, 0, 0, 0.25);
}